@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
 
    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;
 
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
 
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
 
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
 
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
 
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
 
    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;
 
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
 
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
 
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
 
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.button-group {
  display: flex;
}

.pill-button {
  border: none;
  color: white;
  padding: 5px 10px;
  font-size: 8px;
  cursor: pointer;
  outline: none;
 
}

.minus {
  background-color: #3a3a3a;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-left: 0; 
}

.plus {
  background-color: #3a3a3a;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  margin-right: 0px;
}

.pill-button:hover {
  opacity: 0.8;
}

.layer-card {
  background-color: #979797; /* Light grey background */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 2px 5px  rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.layer-name {
  font-weight: bold;
  color: #333; /* Dark grey text for better readability */
}

.model-info-card {
  max-width: 600px; /* Adjust based on your layout */
  margin: auto;
  background: #fff; /* Adjust background color as needed */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.model-info-table {
  width: 100%;
  border-collapse: collapse;
}

.model-info-table td {
  padding: 8px;
  border-bottom: 1px solid #eee; /* Light border for table rows */
}

.model-info-table tr:last-child td {
  border-bottom: none;
}
